*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.palindrome-checker {
  border: 1px dashed #000;
  border-radius: 1rem;
  padding: 4rem 2rem;
  text-align: center;
}

.palindrome-checker > i {
  font-size: 8rem;
  margin-bottom: .5em;
}